
{% extends "buyer/base.html" %}
{% load static %}
{% block content %}
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/1.jpeg' %}"></a>
		
		<div class="action-buttons">
            <a href=""><button class="btn btn-primary add-to-cart-btn">
                View
            </button></a>
            <a href=""></a><button class="btn btn-primary add-to-cart-btn" >
                Go to cart
            </button></a>
            <a href=""></a><button class="btn btn-primary favuorite-btn">
                Add to foavourite
            </button></a>
        </div>

        <div class="card-body">
            <div>
                <h4 class="card-title">Image Title</h4>
                <h5 class="card-text image-price">Rs. 700</h5>
            </div>
            <a href="#!">
                <i class="fa fa-heart-o"></i>
            </a>
            <i>1</i>
        </div>

		<div class="description">Add discription here</div>
	</div>

	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/2.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/3.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<<a href="#"><img src="{% static 'buyer/images/4.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/5.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/6.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/7.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/8.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/9.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/10.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/11.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	<div class="gallery">
		<a href="#"><img src="{% static 'buyer/images/12.jpeg' %}"></a>
		<div class="description">Add discription here</div>
	</div>
	
{% endblock content %}s